@using GoodNewsAggregator.HtmlHelpers
@using GoodNewsAggregator.Models.ViewModels.News;
@model NewsListWithPaginationInfo
@{
    ViewData["Title"] = "Все новости";
}


<section id="entity_section" class="entity_section">

    <div class="row">
        <div class="text-center">
            <h1>ВСЕ НОВОСТИ</h1>
        </div>
    </div>

    <div class="container">
        <div class="row align-content-around news">
            @foreach (var item in Model.News)
            {
                <div class="col-4 card" style="width: 26rem;">
                    <div class="card-body">
                        <div class="entity_title">
                            <h4>@Html.Raw(item.Title)</h4>
                        </div>
                        <!-- entity_title -->

                        <div class="entity_meta">
                            <p>Дата публикации: @item.PublicationDate.Value.ToString("dd.MM.yyyy HH:mm")</p>
                            <p>Коэффициент: @item.GoodnessCoefficient</p>
                        </div>
                        <!-- entity_meta -->

                        <div class="entity_content">
                            <p class="imgChanges">
                                @Html.Raw(item.Description)
                            </p>
                        </div>
                        <!-- entity_content -->

                        <div>
                            <a asp-action="SingleNews" asp-route-id="@item.Id">Читать</a>
                        </div>
                        <!-- details -->
                    </div>
                </div>
                <!-- main content -->
            }
        </div>
        <br /><br />
        <div class="btn-group">
            @Html.CreatePagination(Model.PageInfo, i => Url.Action("AllNews", new { page = i }))
        </div>
        <pagination page-model="Model.PageInfo" page-action="Index"></pagination>
    </div>
    <br /><br />
    <!-- container -->
</section>
<!-- entity_section -->