@using GoodNewsAggregator.Models.ViewModels.News
@model NewsWithRSSAddressViewModel
@{
    ViewData["Title"] = "Новость";
}


<section id="entity_section" class="entity_section">
    <div class="container">
        <div>
            <div class="entity_wrapper">
                <div class="entity_meta">
                    <h4>Дата публикации: @Model.PublicationDate.Value.ToString("dd.MM.yyyy HH:mm");</h4>
                    <h4>Коэффициент: @Model.GoodnessCoefficient</h4>
                    <h4>Источник: @Model.RSSAddress </h4>
                </div><br />
                <!-- entity_meta -->

                @if (Model.RSS_Id.Equals(new Guid("972036b6-175f-4251-b2d9-296a77b65169")) && !(Model.Text.Contains("</h1>")))
                {
                    <div class="entity_title">
                        <h1>@Html.Raw(Model.Title)</h1>
                    </div>
                    <!-- entity_title -->
                }

                <div class="entity_content">
                    <p>
                        @Html.Raw(Model.Text)
                    </p>
                </div>
                <!-- entity_content -->


                <div class="readers_comment">
                    <div class="entity_inner__title header_purple">
                        <h4>Комментарии читателей</h4>
                    </div>
                    <!-- entity_title -->

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img alt="64x64" class="media-object" data-src="assets/img/reader_img1.jpg"
                                     src="assets/img/reader_img1.jpg" data-holder-rendered="true">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Юрий Иванов</a></h4>
                            Комментарий1

                            <div class="entity_vote">
                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                                <a href="#"><span class="reply_ic">Ответ</span></a>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img alt="64x64" class="media-object" data-src="assets/img/reader_img2.jpg"
                                             src="assets/img/reader_img2.jpg" data-holder-rendered="true">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">Администратор</a></h4>
                                    Ответ1

                                    <div class="entity_vote">
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                                        <a href="#"><span class="reply_ic">Ответ</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- media end -->

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img alt="64x64" class="media-object" data-src="assets/img/reader_img3.jpg"
                                     src="assets/img/reader_img3.jpg" data-holder-rendered="true">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Виталий Иванов</a></h4>
                            Комментарий2

                            <div class="entity_vote">
                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                                <a href="#"><span class="reply_ic">Ответ </span></a>
                            </div>
                        </div>
                    </div>
                    <!-- media end -->
                </div>
                <!--Readers Comment-->

                <div class="entity_comments">
                    <div class="entity_inner__title header_black">
                        <h4>Добавить комментарий</h4>
                    </div>
                    <!--Entity Title -->

                    <div class="entity_comment_from">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputName" placeholder="Имя">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Email адрес">
                            </div>
                            <div class="form-group comment">
                                <textarea class="form-control" id="inputComment" placeholder="Комментарий"></textarea>
                            </div>

                            <button type="submit" class="btn btn-submit red">Отправить</button>
                        </form>
                    </div>
                    <!--Entity Comments Form -->

                </div>
                <!--Entity Comments -->
            </div>
        </div>
    </div>
</section>